* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    line-height: 1.2;
    scroll-behavior: smooth;
}

header {
    padding: 1rem;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav li {
    list-style-type: none;
    margin-left: 1rem;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;

}

.outer-left {
    background-color: pink;
    width: 40px;
      position: relative;
      display: inline-block;
      margin: -5.5rem 1rem;
  }
  
  .inner-left {
    color: #878787;
    position: absolute;
    top: 50%;
    
  }
  
  .rotate-left {
      transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  }

  .outer-right {
    width: 1.5rem;
    position: relative;
    float: right;
    top: 8rem;
  }
  
  .inner-right {
    color: #878787;
    position: absolute;
    top: 50%;
  }
  
  .rotate-right {
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }

/* .rotate {
    transform: rotate(-90deg);
} */

.intro {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.about {
    
}

.about li {
    list-style-type: none;
}

.skills {
    margin-bottom: 1rem;
    text-align: right;
}