* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    line-height: 1.2;
}

header {
    padding: 1rem;
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav li {
    list-style-type: none;
    margin-left: 1rem;
}

p {
    margin-bottom: 1rem;
}

nav a {
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    padding: 0.2rem;
}

a:visited {
    color: #333;
}

a:hover {
    color: #777;
    text-decoration: none;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;

}

.intro {
    height: 100vh;
}

.intro h1 {
    position: absolute;
    bottom: 1rem;
}

/* 
    Projects
*/
.project {
    margin-bottom: 3rem;
    position: relative;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.projects h1 {
    color: red;
    margin-bottom: 1rem;
}

/* .project h2 {
    font-size: 1.2rem;
} */

.project p {
    font-size: 1rem;
}

.project img {
    /* margin: 0 auto;
    margin-bottom: 1rem; */
    width: 100%;
}

/* Animation */
@keyframes pop-in {
    0% { opacity: 0;transform: scale(0.5); }
    100% { opacity: 1;transform: scale(1); }
}

.popin {
    animation: pop-in 1s ease;
}

.hidden {
    opacity: 0;
}

/* About */

.about-wrapper {
    background-color: peachpuff;
}

.about li {
    font-size: 1rem;
    list-style-type: none;
}

.info-wrapper {
    margin-bottom: 1rem;
}

.skills {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.skills h3 {
    font-size: 1.5rem;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
}

.education {
    margin-bottom: 1rem;
}

.education li,
.experience li {
    list-style-type: circle;
    margin-left: 1rem;
}

.artist p {
    font-size: 1rem;
}

/* Footer */

footer .container {
    font-size: 1.3rem;
    text-align: center;
}

footer li {
    display: inline-block;
    list-style-type: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* .projects-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } */

    .project {
        width: 60%;
    }

    #project2 {
        margin-left: auto; 
    }

    #project3 {
        margin: 0 auto;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
